{{#if maps.length}}
{{message}}
<strong>Map Results: </strong>
<ul>{{#each maps as |map| }}
    <li><a href="/maps/"> {{map.map_name}}</a></li>
{{/each}}
</ul>
{{/if}}

{{#if teams.length}}
    <strong>Team Results: </strong>
    <ul>{{#each teams as |team| }}
        <li><a href="/teams/{{team.team_id}}"> {{team.team_name}}</a></li>
    {{/each}}
    </ul>
{{/if}}

{{#if leagues.length}}
    <strong>League Results: </strong>
    <ul>{{#each leagues as |league| }}
        <li><a href="/leagues/{{league.league_id}}"> {{league.league_name}}</a></li>
    {{/each}}
    </ul>
{{/if}}

{{#if users.length}}
    <strong>User Results: </strong>
    <ul>{{#each users as |user| }}
        <li><a href="/users/{{user.user_id}}"> {{user.user_name}}</a></li>
    {{/each}}
    </ul>
{{/if}}

{{#noResults maps.length}}
    No results found for <i>{{searchTerm}}</i>
{{/noResults}}
